##
## Disable debug info by default
##
CONFIG_DEBUG_INFO_NONE=y
# CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT is not set
# CONFIG_DEBUG_INFO_DWARF4 is not set
# CONFIG_DEBUG_INFO_DWARF5 is not set

##
## Make sure USB storage is built in
##
CONFIG_USB_STORAGE=y
CONFIG_USB_UAS=y

##
## Make RCU stall detection behave a bit nicer...
##
## In particular, lower stall timeout from most distro options (~60s, or 21s as
## default) to 10s. No sane action should stall 10s and accessing
## unclocked/unpowered parts of the SoC has a tendency to cause stalls, so
## let's try to detect them a bit earlier. At the same time, try not to use the
## 20ms default for the expedited timeout as that seems to lead to a bunch of
## false positives. So increase that to 250ms.
##
CONFIG_RCU_CPU_STALL_TIMEOUT=10
CONFIG_RCU_EXP_CPU_STALL_TIMEOUT=250

##
## Clear localversion, this is set via PKGBUILD
##
CONFIG_LOCALVERSION=""
# CONFIG_LOCALVERSION_AUTO is not set
