ACTION=="add", SUBSYSTEM=="typec", ENV{DEVTYPE}=="typec_partner", KERNEL=="port0-partner", TAG+="systemd", ENV{SYSTEMD_WANTS}+="sdbd-usb-connect.service"

ACTION=="remove", SUBSYSTEM=="typec", ENV{DEVTYPE}=="typec_partner", KERNEL=="port0-partner", TAG+="systemd", ENV{SYSTEMD_WANTS}+="sdbd-usb-disconnect.service"
