[Unit]
Description=SDBD ADB gadget
Requires=sdbd.service dev-usb\x2dffs-adb.mount
After=sdbd.service dev-usb\x2dffs-adb.mount
Before=shutdown.target
Conflicts=shutdown.target
PartOf=sdbd.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/sdbd-gadget
RemainAfterExit=yes
ExecStop=/bin/sh -c 'printf "\\n" > /sys/kernel/config/usb_gadget/sdbd/UDC 2>/dev/null || true'

[Install]
WantedBy=multi-user.target
