[Unit]
Description=Wait for addresses %i
[Service]
Type=oneshot
ExecStart=bash /etc/systemd/scripts/wait-addresses.sh %i 60
SyslogIdentifier=wait-addresses
[Install]
WantedBy=network-online.target
