[Unit]
Description=Enable q6voice audio when call is performed with oFono or ModemManager
After=dbus.service

[Service]
# Note: q6voice_card/q6voice_device need to be set in /etc/q6voiced.conf
EnvironmentFile=/etc/q6voiced.conf
ExecStart=/usr/bin/q6voiced hw:${q6voice_card},${q6voice_device}
User=nobody
Group=audio

[Install]
#WantedBy=sockets.target
#Also=dbus.service
WantedBy=multi-user.target
