[Unit]
Description=HexagonRPCD ADSP SensorPD
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/hexagonrpcd/hexagonrpcd-adsp-sensorspd.conf
ExecStart=/usr/bin/hexagonrpcd -f /dev/fastrpc-adsp -s  -R ${hexagonrpcd_fw_dir}
User=fastrpc
Group=fastrpc
Restart=on-failure

[Install]
WantedBy=multi-user.target
