[Unit]
Description=HexagonRPCD SDSP
After=dbus.service

[Service]
ExecStart=/usr/bin/hexagonrpcd -f /dev/fastrpc-sdsp -s
User=fastrpc
Group=fastrpc
Restart=on-failure

[Install]
WantedBy=multi-user.target
