[Unit]
Description=HexagonRPCD ADSP RootPD
After=dbus.service

[Service]
Type=simple
EnvironmentFile=/etc/hexagonrpcd/hexagonrpcd-adsp-rootpd.conf
ExecStart=/usr/bin/hexagonrpcd -f /dev/fastrpc-adsp -R ${hexagonrpcd_fw_dir}
User=fastrpc
Group=fastrpc
Restart=on-failure

[Install]
WantedBy=multi-user.target
