[Unit]
Description=HexagonRPCD SDSP
After=dbus.service

[Service]
EnvironmentFile=/etc/hexagonrpcd/hexagonrpcd-sdsp.conf
ExecStart=/usr/bin/hexagonrpcd -f /dev/fastrpc-sdsp -s -R ${hexagonrpcd_fw_dir}
User=fastrpc
Group=fastrpc
Restart=on-failure

[Install]
WantedBy=multi-user.target
